.Grid-probe, .App-editor {
	font-size: 13px;
	font-family: monospace;
	line-height: 18px;
}

.Grid-probe {
	visibility: hidden;
}

.App {
	min-height: 100vh;
	position: relative;
}

.App-editor {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	left: 50%;
	padding: 1em;
	position: absolute;
	text-align: center;
	top: 50%;
	/* TODO(riley): Allow free scrolling anywhere, and place indicators on screen
	 *              edges when there's more content off-screen in that direction.
	 */
	transform: translate(-50%, -50%);
}

/* TODO(riley): Pass this as an inline style. */
.public-DraftStyleDefault-block {
	min-width: 1px !important;
}
