.App {
	min-height: 100vh;
	position: relative;
}

.App-editor {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	font-family: monospace;
	font-size: 13px;
	left: 50%;
	line-height: 18px;
	max-width: 40em;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, 0);
}
