.App {
	font-size: 13px;
	font-family: monospace;
	line-height: 18px;
}

.App.show-grid {
	background-image: radial-gradient(circle at top left, rgba(0, 0, 0, 1) 1px, transparent 0);
}

.App-notice {
	background: #000;
	bottom: 1em;
	color: #fff;
	left: 1em;
	padding: 1em;
	position: fixed;
}

.Grid-probe {
	visibility: hidden;
}
